<!--header.html-->

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BABY Vibes : a simple and effective baby care system</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="vibe/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="vibe/css/magnific-popup.css"> 
    <link rel="stylesheet" href="vibe/css/templatemo-ocean-vibes.css"> 
</head>
  <header class="tm-site-header">
      <h1 class="tm-mt-0 tm-mb-15"><span class="tm-color-primary">BABY</span> <span class="tm-color-gray-2">Vibes</span></h1>
      <em class="tm-tagline tm-color-light-gray">simple and effective baby care system</em>
      
  </header>
  
    